<div>
    <div id="dashboards-posts">
        <ul>
            {{#each posts as |post|}}
            <li id="{{post.id}}">
                <p>{{post.title}}</p>
                <p>{{post.createdAt}}</p>
            </li>
            {{/each}}
        </ul>
    </div>
    <div>
        <h2>Create A New Post</h2>
        <form class="create-post-form">
            <div>
                <label for="post-title">Title:</label>
                <input type="text" id="post-title"/>
            </div>
            <div>
                <label for="post-content">Content:</label>
                <textarea type="password" id="post-content"></textarea>
            </div>
            <div>
                <button type="submit" id="new-post">Create</button>
            </div>
        </form>
    </div>
    <div>
        <button>New Post</button>
    </div>
</div>

<script src="./js/dashboard.js"></script>