<div>
    <div>
        <h2>Login</h2>
        <form>
            <div>
                <label for="username-login">Usernmae:</label>
                <input type="text"/>
            </div>
            <div>
                <label for="password-login">Password:</label>
                <input type="password"/>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
            <a href="/signup">Signup</a>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>